<div class="sidebar-wrapper">
  <div class="logo">
    <fa-icon [icon]="faMusic" class="icon"></fa-icon>
    <span class="text">UpMusic</span>
  </div>

  <nav class="nav-links">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <fa-icon [icon]="faHouse" class="icon"></fa-icon>
      Início
    </a>
    <a routerLink="/upload" routerLinkActive="active" class="nav-item">
      <fa-icon [icon]="faCloudArrowUp" class="icon"></fa-icon>
      Enviar Música
    </a>
    <a routerLink="/catalog" routerLinkActive="active" class="nav-item">
      <fa-icon [icon]="faBook" class="icon"></fa-icon>
      Meu Catálogo
    </a>
  </nav>

  <div class="playlists">
    <h4 class="section-title">Suas Playlists</h4>
    <div class="playlist-item">Músicas Curtidas</div>
    <div class="playlist-item">Novo Álbum</div>
    <div class="playlist-item">Top Hits 2024</div>
  </div>
</div>